{% extends "main_layout.html" %}

{% block content %} 
<div class="row" class="lead" >
<div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5" >
<h1 class="text-center">Произошла ошибка!</h1>
<p class="text-center">Что-то пошло не так, попробуйте повторить позже.</p>
<form action="{{url_for('index')}}" method="get" class="d-flex justify-content-center">
    <input type="submit" class="btn btn-primary  btn-lg ms-3 px-5 text-uppercase mx-3" value="Перейти на главную">
</form>
</div>
</div>
{% endblock %}